mysql:
  build: ./mysql
  environment:
    - MYSQL_ROOT_PASSWORD={{ lookup('env', 'MYSQL_ROOT_PASSWORD') }}
    - MYSQL_USER={{ lookup('env', 'MYSQL_USER') }}
    - MYSQL_PASSWORD={{ lookup('env', 'MYSQL_PASSWORD') }}
    - MYSQL_DATABASE={{ lookup('env', 'MYSQL_DATABASE') }}
web:
  build: ./nginx
  volumes:
    - /var/www/html/:/var/www/html/
    - ./nginx:/etc/nginx/sites-available
  ports:
    - "8000:80"
  links:
    - mysql:db
varnish:
  build: ./varnish
  environment:
    CACHE_SIZE: 64m
  links:
    - web:backend
frontnginx:
  build: ./frontnginx
  ports:
    - "443:443"
    - "80:80"
  links:
    - varnish:varnish
