mysql:
  build: ./mysql
  environment:
    - MYSQL_ROOT_PASSWORD={{ lookup('env', 'MYSQL_ROOT_PASSWORD') }}
    - MYSQL_USER={{ lookup('env', 'MYSQL_USER') }}
    - MYSQL_PASSWORD={{ lookup('env', 'MYSQL_PASSWORD') }}
    - MYSQL_DATABASE={{ lookup('env', 'MYSQL_DATABASE') }}
  mem_limit: 128m

data:
  image: debian:wheezy
  volumes:
    - /var/www/html/:/var/www/html/

php:
  build: ./php
  volumes_from:
    - data
  links:
    - mysql:db

backend:
  build: ./backend
  volumes_from:
    - data
  links:
    - php:php
  ports:
    - "8000:80"

varnish:
  build: ./varnish
  environment:
    CACHE_SIZE: 64m
  links:
    - backend:backend

cadvisor:
  image: google/cadvisor:latest
  volumes:
   - /:/rootfs:ro
   - /sys:/sys:ro
   - /var/run:/var/run:rw
   - /var/lib/docker/:/var/lib/docker:ro
   - /cgroup/cpu:/cgroup/cpu:ro
   - /cgroup/cpuacct:/cgroup/cpuacct:ro
   - /cgroup/cpuset:/cgroup/cpuset:ro
   - /cgroup/memory:/cgroup/memory:ro
   - /cgroup/blkio:/cgroup/blkio:ro
  ports:
    - "8080:8080"

frontnginx:
  build: ./frontnginx
  ports:
    - "443:443"
    - "80:80"
  links:
    - varnish:varnish
    - cadvisor:cadvisor
